@font-face {
    font-family: 'Press Start 2P';
    src: url('../res/fonts/Press_To_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

#dark-mode {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    background-color: #60CDF4;
    color: #E9F8FF;
    border: 2px solid #E9F8FF;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    width: 100px; 
}